@import "_base.scss";
@import "_fonts.scss";
@import "_vars.scss";
body {
    height: 100vh;
    font-family: 'Muli';
    .bg {
        background-image: url(../img/bg-log.jpg);
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: blur(10px);
        .filter {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(159, 218, 215, 0.3);
        }
    }
    .form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            width: 45%;
            height: 50%;
            min-height: 460px;
            background-color: #fff;
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
            -moz-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
            box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
            .form-left {
                width: 40%;
                background-color: #000;
                color: #fff;
                padding: 100px 25px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                .form-left-title {
                    font-size: 50px;
                    margin-bottom: 25px;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
                .form-left-subtitle {
                    font-size: 20px;
                    line-height: 30px;
                    font-style: italic;
                    font-weight: 300;
                }
            }
            .form-right {
                width: 60%;
                margin: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                .form-container {
                    width: 100%;
                    .form-field {
                        margin: 35px 0;
                        position: relative;
                        .label {
                            position: absolute;
                            top: 50%;
                            left: 5px;
                            transform: translate(0, -50%);
                            transition: 0.5s;
                            color: #6b6b6b;
                            font-size: 15px;
                            font-weight: 300;
                            pointer-events: none;
                            &.toTop {
                                top: -50%;
                                left: 0;
                                color: grey;
                                font-size: 17px;
                                font-weight: 500;
                            }
                        }
                        input {
                            height: 25px;
                            border: none;
                            border-bottom: 1px solid #ccc;
                            width: 100%;
                            padding: 0 5px;
                            &::placeholder {
                                opacity: 0;
                                transition: 0.3s;
                                font-style: italic;
                                font-size: 12px;
                            }
                            &.phVisible {
                                &::placeholder {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .form-submit {
                        margin: 35px 0;
                        .submit-button {
                            width: 100%;
                            height: 45px;
                            border-radius: 5px;
                            background-color: $cyan;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: bold;
                            color: #fff;
                            transition: 0.3s;
                            border: none;
                            font-size: 20px;
                            cursor: pointer;
                            &:hover {
                                background-color: grey;
                            }
                        }
                    }
                    .sign-in {
                        text-align: center;
                        .sign-in-link {
                            color: $cyan;
                            font-weight: 600;
                            transition: 0.3s;
                            &:hover {
                                color: grey;
                            }
                        }
                    }
                }
            }
        }
}
